::ng-deep .mat-tab-body-content {
    display: grid;
    grid-template-columns: auto auto;
}

::ng-deep .mat-tab-body-wrapper {
    margin-top: 2rem;
}

::ng-deep .mat-card-header-text {
    display: none;
}