<div>
    <mat-card style="box-shadow: none;padding: 2rem;">
        <mat-card-header>
            <h5>DATSUN SPECIFICATION</h5>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Engine">
                    <div>
                        <div style="display: flex;">
                            <p>Displacement(cc) :</p>
                            <p style="margin-left: 0.5rem;font-weight: 600;">998</p>
                        </div>
                        <div style="display: flex;">
                            <p>No. of Cylinders :</p>
                            <p style="margin-left: 0.5rem;font-weight: 600;">4</p>
                        </div>
                        <div style="display: flex;">
                            <p>Emission Norms :</p>
                            <p style="margin-left: 0.5rem;font-weight: 600;">BS Vl</p>
                        </div>
                        <div style="display: flex;">
                            <p>Power(bhp) :</p>
                            <p style="margin-left: 0.5rem;font-weight: 600;">58</p>
                        </div>
                        <div style="display: flex;">
                            <p>IDC Mileage(km/Litre) :</p>
                            <p style="margin-left: 0.5rem;font-weight: 600;">31.2</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Dimension">
                    <div></div>
                </mat-tab>
                <mat-tab label="Steering">
                    <div></div>
                </mat-tab>
                <mat-tab label="Transmission">
                    <div></div>
                </mat-tab>
                <mat-tab label="Suspension">
                    <div></div>
                </mat-tab>
                <mat-tab label="Tyres">
                    <div></div>
                </mat-tab>
                <mat-tab label="Brakes">
                    <div></div>
                </mat-tab>
                <mat-tab label="Capacity">
                    <div></div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <mat-card style="box-shadow: none;padding: 2rem;">
        <mat-card-header>
            <h5>DATSUN FEATURES</h5>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Interiors">
                    <div>Front Door Pockets</div>
                </mat-tab>
                <mat-tab label="Exteriors">
                    <div></div>
                </mat-tab>
                <mat-tab label="Safety">
                    <div></div>
                </mat-tab>
                <mat-tab label="Comfort">
                    <div></div>
                </mat-tab>
                <mat-tab label="Extertainment">
                    <div></div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>

    <mat-card style="padding: 2rem;box-shadow: none;">
        <mat-card-header>
            <h5>DATSUN VARIANTS</h5>
        </mat-card-header>
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Petrol">
                    <div *ngFor="let car of car_result" style="margin-bottom: 1rem;">
                        <mat-card style="border-radius: 10px;background-color:rgba(0,0,0,0.05);margin-right:2rem;box-shadow: none;">
                            <h5 style="margin-block-end: 0em;">{{car.pro_name}}</h5>
                            <p style="margin:0px;font-size:75%;margin-top: 0.5rem;
                        font-weight: 300;">998cc | 67 BHP | Manual | 21.4kmpl </p>
                            <div style="display: grid;grid-template-columns: auto auto;">
                                <div>
                                    <p style="margin-block-end: 0em;">Ex-Showrrom Price: ₹ {{car.exshowroom_price}}</p>
                                    <p style="margin-block-start: 0em;color: green;">Total Discount: ₹ 48,000</p>
                                </div>
                                <div style="margin-left: auto;"><button mat-stroked-button style="border-color: #cf455c;color: #cf455c;">VIEW ON ROAD PRICE</button></div>
                            </div>
                        </mat-card>
                    </div>
                </mat-tab>
                <mat-tab label="CNG">
                    <div *ngFor="let car of car_result" style="margin-bottom: 1rem;">
                        <mat-card style="border-radius: 10px;background-color:rgba(0,0,0,0.05);margin-right:2rem;box-shadow: none;">
                            <h5 style="margin-block-end: 0em;">{{car.pro_name}}</h5>
                            <p style="margin:0px;font-size:75%;margin-top: 0.5rem;
                    font-weight: 300;">998cc | 67 BHP | Manual | 21.4kmpl </p>
                            <div style="display: grid;grid-template-columns: auto auto;">
                                <div>
                                    <p style="margin-block-end: 0em;">Ex-Showrrom Price: ₹ {{car.exshowroom_price}}</p>
                                    <p style="margin-block-start: 0em;color: green;">Total Discount: ₹ 48,000</p>
                                </div>
                                <div style="margin-left: auto;"><button mat-stroked-button style="border-color: #cf455c;color: #cf455c;">VIEW ON ROAD PRICE</button></div>
                            </div>
                        </mat-card>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>

<ng-template *ngIf="show">
    <mat-dialog-content>
        <p>Api Error!</p>
    </mat-dialog-content>
    <mat-dialog-actions style="justify-content: center;">
        <button mat-button matDialogClose color="primary" style="border: 1px solid #673ab7;background: #673ab7;color: white;">OK</button>
    </mat-dialog-actions>
</ng-template>